<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.malkyatmuk.smartgarden">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        >
        <activity android:name=".View_Plant" android:windowSoftInputMode="adjustResize|stateHidden">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UPorIn" android:theme="@style/generalnotitle" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".SignUp" android:theme="@style/generalnotitle" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".Start_menu" android:theme="@style/generalnotitle" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".SignIn" android:theme="@style/generalnotitle" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Add_Card" android:theme="@style/Translucent" android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity android:name=".WifiSettings" android:theme="@style/generalnotitle" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".IP" android:theme="@style/generalnotitle" android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity android:name=".Start" android:theme="@style/generalnotitle" android:windowSoftInputMode="adjustResize|stateHidden"/>

    </application>

</manifest>